.container {
  margin: 0 auto;
  padding: 0 $m-size;
}

.container__list {
  text-align: left;
}

.container__box {
  float:right;
  background-color: $light;
  width: 350px;
  border: 1px solid $blue;
  padding: 5px;
  margin: 5px auto;
}
