html {
    font-size: 62.5%;
}

body {
    background-color: $light;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

input{
  color: $dark;
}

.activeNav {
    font-weight: bold;
}

.error {
    color: $red;
}
